<div class="profile-header">
  <div class="profile-header-content">
    <h3><%= user.get("email") ? user.get("email").match(/(\w+)@?/)[1] : null %></h3>

    <div class="follow"></div>

    <div class="profile-header-nav group">
      <a href="#/profile/<%= user.id %>">Upvoted Products</a>
      <a href="#/profile/<%= user.id %>/products">Posted Products</a>
      <a href="#/profile/<%= user.id %>/collections">Collections</a>
      <a href="#/profile/<%= user.id %>/followings">Following</a>
      <a href="#/profile/<%= user.id %>/followers">Follower</a>
    </div>
  </div>
</div>

<div class="profile-body"></div>
