<div class="collection-show-header">
  <img src="<%= collection.get("image_url") %>">

  <div class="edit-collection"></div>

  <div class="collection-show-header-content">
    <h3><%= collection.escape("title") %></h3>
    <h4><%= collection.escape("description") %> </h4>
    <a href="#/profile/<%= collection.get("owner_id") %>"> Collection Curated by <%= collection.get("creator") && collection.get("creator").match(/(\w+)@?/)[1] %></a>
    <% if (collection.get("owner_id") === HealthHunt.currentUser.get("id")) { %>
      <button class="edit-collection-button">Edit Collection</button>
    <% } %>
  </div>
</div>

<div class="collection-show-body">
  <ul class="products"></ul>
  <br>
</div>
