<div class="modal-main">
  <div class="prod-show-header">
    <h3><%= product.escape("title") %></h3>

    <div class="big-upvote">
      <button class="big-upvote-button"><%= product.get("votes") %><div class="big-upvote-triangle"></div></button>
    </div>

    <h4><%= product.escape("description") %></h4>

    <a href="<%= product.escape("url") %>">Check it Out!</a>
    <% if (product.get("owner_id") === HealthHunt.currentUser.get("id")) { %>
      <button class="edit-product new-product">Edit Product</button>
    <% } %>
  </div>

  <div class="prod-show-subheader group">
    <a href="#/profile/<%= product.get("owner_id") %>"><h4>Product Submitted by <%= product.escape("creator").match(/.+?(?=@)/) %></h4></a>

    <button class="prod-coll-link-prod-show">Add Product to a Collection</button>
    <div class="product-collection-product-show"></div>
  </div>

  <div class="prod-show-body">
    <h5>Comments</h5>
    <ul class="comments group"></ul>

    <form class="comments-form">
    <input type="hidden" name="product_id" value="<%= product.id %>">

    <textarea name="body" placeholder="Enter New Comment"></textarea>
    <button class="new-comment">Add Comment</button>
    </form>
  </div>
</div>

<div class="modal-blur"></div>
