<h3><%= product.escape("title") %></h3>
<h4><%= product.escape("description") %></h4>

<a href="<%= product.escape("url") %>">Check it Out!</a>
<br>

<% if (product.get("owner_id") === HealthHunt.currentUser.get("id")) { %>
  <a href="#/products/<%= product.id %>/edit">Edit Product</a>
<% } %>
<br>

<h5>Comments</h5>
<div class="comments"></div>
<br>

<form>
<input type="hidden" name="product_id" value="<%= product.id %>">

<label>
  Body
  <br>
  <textarea name="body"></textarea>
</label>
<br>

<button class="new-comment">Add Comment</button>
</form>

<br>
<a href="#">Index</a>
